#dashboard {
    input::file-selector-button {
        height: 35px;
        border-radius: 10px;
        border: 2px solid #009444;
        cursor: pointer;
        background-color: #deffed;
    }
    form.form{
        margin: 30px auto;
        padding: 2rem;
        max-width: 40rem;
        background: white;
        border: none;
        border-radius: 20px;
        h3{
            text-align: center;
            margin-bottom: 2rem;
        }
        button {
            background-color: #275A53;
        }
    }
}